@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
.header{
    display:flex;
    align-items: center;
    background-color: white;
    margin: 20px 30px 30px;  
    
}
.logo img {
    height: 37px;
    width: 152px;
}
.menu{
    padding-left: 160px;
    align-items: center;
}
ul li{
    
    list-style: none;
    float: left;
    position: relative;
}
ul li a{
    padding-left: 35px;
}
.menu li a{
    text-decoration: none;
    color: #1BBE2C;
    font-weight: 500;
    display: block;
}
.menu a:hover{
    color: black;
}
.leftmenu{
    text-align: right;
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f98d;
    min-width: 160px;
    box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.065);
    z-index: 1;
    border: 1px  ;
    border-radius: 2px ;
    padding: 5px 5px 5px 5px ;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.shopping-icon img{
    margin-left: 30px ;
    cursor:pointer;
}
.shopping-icon img:hover{
    filter: brightness(0);    
}
#add-to-cart{
    border: 1px solid  ;
    border-radius: 3px;
    padding: 5px 20px 5px 20px ;
    border-color: #06df1b;
    background-color: #06df1b;
    color: white;
    cursor: pointer;
}
#add-to-cart:hover{
    background-color: green;
    color: white;   
}
.cart-popup {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
}
.cart-popup.open {
    right: 0; 
}
.cart-content {
    padding: 20px;
}
.atc-item-image img {
    height: 90px;
    width: 100px;
   text-align: center;
}
.atc-product{
    padding: 20px;
    text-align: center;
    display: flex;
}
.atc-item-title {
    font-size: 18px;
    color: #535353;
    font-weight: 300;
}
.atc-item-price {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.566);
    margin: 10px 0;
    
}
.atc-add {
    background-color: #06df1b;
    padding:10px 20px 10px 20px;
    border-radius: 5px ;
    border: 2px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.add-add{
 background-color: rgb(3, 186, 3);   
}
#close-btn {
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid  ;
    border-radius: 3px;
    padding: 5px 20px 5px 20px ;
    background-color: #8d8e8d;
    color: white;
    text-align: right;
}
#close-btn:hover{
    background-color: rgb(1, 197, 1);
    color: white;   
}

.language select{
    color:#1BBE2C;
    cursor: pointer;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
}
.language select{
    border: 0px;
 }
 .language select:hover{
    color:black;
 }



.content{
    margin:30px 30px 30px;
}
.content h2{
    margin:50px 0px 50px;
    font-size: 30px;
}
.content p{
    font-weight: 400;
    color: rgb(92 92 92);
    font-size: 15px;
}
/* #privacy-content, #return-content{
    display: none;
} */
/* .content.active {
    display: block;
} */



.sectionfifthcontainer{
    background-color: black;
    color: white;
    font-weight: 250;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.seclogo img{
    height: 50px;
    width: 200px;
}
.footercolumtwo a{
    display: block;
    text-decoration: none;
    color: white;
}
.footercolumthree a{
    display: block;
    display: block;
    text-decoration: none;
    color: white;
}
.socialicon img{
    height: 20px;
    width: 20px;
    display: block;
    margin: 6px;
}
.autor{
    text-align: center;
}
.autor img{
    width: 7%;
}