*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
}
#left{
    width: 40%;
    height: 100%;
    position: relative;
}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#lnavr i{
    color: rgb(111, 111, 253);
    /* background-color:rgb(111, 111, 253); */
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
#textcenter p{
    opacity: 0.6;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(66, 66, 66);
}
#textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 15px;
}
#right{
    width: 60%;
    height: 100%;
}
 #rtop{
    height: 50%;
    width: 100%;
    display: flex;

}
#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1541143011610-fe5c3458686e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:center;
}
#rtopright{
    width: 45%;
    height: 100%;
    background-image:url(https://plus.unsplash.com/premium_photo-1688045713393-53ed4a31202b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHJvc2V8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position:center;
}
#rbottom{
    height: 50%;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1703369348386-44a8c72ca991?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:top;
} 
/* RESPONSIVE */
@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width:100%;
        height: 100vh;
    } 
    #main #right{
        width: 100%;
    }
    #textcenter{
        margin-top: 50px;
    }
    #rtop{
        margin-top: 50px;
    }
}
