*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}
#container{
    text-align: center;
    justify-content: center;
    padding-top: 45%;
    align-items: center;
    color: white;
}