* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}


.slidebox {
    background: url(imgbar/idm.png);
    background-size: cover;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-out;
}

.littlebox {
    min-width: 50%;
    height: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.monivh {
    display: flex;
    margin-top: 20px;
    /* height: 10%; */
    /* min-width: 50%; */
    animation: anmia 15s ease-out infinite;
}

/* @keyframes anmia {
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: 0%;
    }
    20% {
        margin-left: -90%;
    }
    30% {
        margin-left: -90%;
    }
    40% {
        margin-left: -100%;
    }
    50% {
        margin-left: -100%;
    }
    60% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
        
} */


@keyframes anmia {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-20%);
    }

    53% {
        transform: translateX(-50%);
    }
}




.child {
    width: 50%;
    height: 400px;
}

.child.a {
    background: url(imgbar/pexels-darrel-und-217939-1242286.jpg);
    background-size: cover;
}

.child.b {
    background: url(imgbar/pexels-karoldach-409696.jpg);
    background-size: cover;
}

.child.c {
    background: url(imgbar/pexels-moose-photos-170195-1037994.jpg);
    background-size: cover;
}

.child.a {
    background: url(imgbar/pexels-darrel-und-217939-1242286.jpg);
    background-size: cover;
}

.child.b {
    background: url(imgbar/pexels-karoldach-409696.jpg);
    background-size: cover;
}